table.source {
   border-style:    solid;
   border-color:    #bbb;
   border-spacing:  0;
   border-collapse: collapse;
   border-width:    0;
   width: 100%;
}

.violation {
   background: #FFDDDD;
}

td.source {
   border-style:    solid;
   border-color:    #bbb;
   border-spacing:  0;
   border-collapse: collapse;
   padding-left:    0.2em;
   padding-right:   0.2em;
   font-family:     courier,monospace;
}

td.icon {
   text-align:      left;
   border-width:    0px 0px 0px 1px;
}

td.line {
   text-align:      right;
   border-width:    0px 1px 0px 0px;
}

td.message {
   border-width:    0px 1px 0px 0px;
   width: 100%;
   white-space: normal;
}


table.source td.heading {
   padding-left:    0.5em;
   font-weight:     bold;
   font-family:     serif;
   background-color: #f0f0f0;
   border-width:    1px 1px 1px 1px;
}

table.source td.empty {
   border-width: 1px 0px 0px 0px;
}

/**  violation popup table **/

table.violationPopup {
   padding-top:    0.0em;
   padding-bottom:    0.0em;
   border-width: 1px 1px 1px 1px;
   border-style:    solid;
   background:      rgb(255,255,255);
   width:      0%;
   border-spacing:  0;
   border-collapse: collapse;
}

table.violationPopup td {
   padding-top:    0.0em;
   padding-bottom:    0.0em;
   padding-left:    0.2em;
   padding-right:    0.2em;
   text-align:      left;
   border-width: 1px 1px 1px 1px;
   border-style:    solid;
   border-spacing:  0;
   border-collapse: collapse;
}

.message td {
   width:      100%;
}

table.violationPopup th {
   padding-top:    0.0em;
   padding-bottom:    0.0em;
   padding-left:    0.2em;
   padding-right:    0.2em;
   text-align:      left;
   font-weight:     bold;
   border-style:    solid;
   border-width: 1px 1px 1px 1px;
   border-spacing:  0;
   border-collapse: collapse;
}
