<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset>
  <actions class="java.util.concurrent.CopyOnWriteArrayList"/>
  <description>Maven 2 project generating reports from the build lifecycle.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <triggers class="vector"/>
  <goals>clean verify</goals>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <usePrivateRepository>false</usePrivateRepository>
  <ignoreUpstremChanges>false</ignoreUpstremChanges>
  <reporters/>
  <publishers/>
  <buildWrappers/>
</maven2-moduleset>